.content{
    display: grid;
    grid-template-columns: 1fr 80px;
    justify-content: end;
    margin: 20px 145px 0 145px;
}

.input{

    height: 40px;
}

@media (max-width: 500px) {

    .content{
        display: grid;
        justify-content: center;
    }

}
